/* General */
* {
    font-family: "Noto Sans", monospace;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(20, 20, 20, 0);
    color: #ffffff;
}

/* LEFT */
.modules-left {
    background-color: rgba(20, 20, 20, 0.2);
    border-radius: 10px;
    margin: 3px 0 3px 6px;
}

/* CENTER */
.modules-center {
    background-color: rgba(20, 20, 20, 0.2);
    border-radius: 10px;
    margin: 3px 0;
}

/* RIGHT */
.modules-right {
    background-color: rgba(20, 20, 20, 0.2);
    border-radius: 10px;
    margin: 3px 6px 3px 0;
}

/* Module spacing */
#cpu,
#memory,
#clock,
#pulseaudio,
#mpris,
#custom-power,
#temperature {
    padding: 0 10px;
    margin: 0 2px;
}

/* Power */
#custom-power {
    color: #ffffff;
    font-size: 13px;
    margin-right: 10px;
}

/* MPRIS */
#mpris {
    min-width: 0;
}

/* Clock */
#clock {
    font-weight: bold;
}

/* Temperature */
#temperature.critical {
    color: #ff5555;
}

/* Tooltip */
tooltip {
    background-color: rgba(20, 20, 20, 0.4);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 6px;
}

tooltip label {
    color: #ffffff;
    font-size: 14px;
}

/* Interactive hover effect */
#cpu,
#memory,
#temperature,
#clock,
#pulseaudio,
#mpris,
#custom-power {
    transition: font-size 0.15s ease;
}

#cpu:hover,
#memory:hover,
#temperature:hover,
#clock:hover,
#pulseaudio:hover,
#mpris:hover,
#custom-power:hover {
    font-size: 14px;
}

#custom-timer.running { color: #00ff99; }
#custom-timer.paused { color: #ffcc00; }
#custom-timer.finished { color: #ff3333; }

#network {
    padding: 0 10px;
    color: #e6eaf2;
}

#network.disconnected {
    color: #8b93a7;
}
